@use '@/styles/variables.scss' as *;

.wrap {
  width: 100%;
  padding: 72rpx 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: $font-size-lg;
  font-weight: $font-weight-medium;
  color: $color-text-secondary;
  margin-bottom: $spacing-sm;
}

.desc {
  font-size: $font-size-sm;
  color: $color-text-tertiary;
}

